<!-- Cards for cocktail -->
<div class="container">
  <div class="listCocktail">
    <mat-card *ngFor="let cocktail of listCocktail" class="cocktail-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{cocktail.name}}</mat-card-title>
          <img mat-card-sm-image [src]="cocktail.image" alt="{{ cocktail.name }}" width="120px">
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button (click)="viewCocktail(cocktail.id)">View cocktail</button>
      </mat-card-actions>
    </mat-card>

    <!-- Buttons -->
    <mat-card-actions class="create">
      <button mat-raised-button>Create Cocktail</button>
      <button mat-raised-button>Create Ingredient</button>
    </mat-card-actions>
  </div>
  <div class="showCocktail">
    <app-show-cocktail [cocktailId]="selectedCocktailId"></app-show-cocktail>
  </div>
</div>


