/* Cocktail card */
.cocktail-card {
  max-width: 400px;
  margin: 20px;
}

/* Create cocktail or ingredient button */
.create button {
    margin-left: 35px;
}

/* Cocktail card image */
.mat-mdc-card-sm-image {
  width: 150px;
  height: 150px;
}

.container {
  display: flex;
  margin-left: 15%;
}

.listCocktail{
    float: left;
    width: 100%;
}
.showCocktail{
    float: right;
    width: 100%;
}
