.container {
  display: flex;
}

.cocktail-image {
  flex: 1;
  padding: 20px; /* Add padding or adjust as needed */
}

.cocktail-ingredient {
  flex: 1;
  padding: 20px; /* Add padding or adjust as needed */
}
